<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles-listar-todos.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  
 

</head>

<body>	
	  
	<h1>Todos os clientes</h1>
	<div class="button-container"> <a  th:href="@{'/cliente/home?token=' + ${token}}">Pagina Inicial</a>  </div>
		
			   <div th:if="${NotaMessage != null }">
		        	<p class="error-message" th:text="${NotaMessage}"></p>	   
				</div>
				
			 <table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Documento</th>
				<th>Total</th>
				<th></th>
				<th></th>
			
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${lista}">
				<td th:text="${cliente.nome}"> </td> 
				<td th:text="${cliente.documento}" > </td>
				<td th:text="'R$ 	' + ${cliente.total}" > </td>	
				<td>            
				   <a class="editar" th:href="@{'/cliente/buscarCliente?documento=' + ${cliente.documento} + '&token=' + ${token}}">Detalhar</a>	
				</td>	
				<td>            
				   <a class="editar" th:href="@{'/cliente/gerar?documento=' + ${cliente.documento} + '&token=' + ${token}+ '&redirect=listar'}">Gerar Nota</a>	
				</td>	
					          
			</tr>
		</tbody>
	</table>				
</body>
				
	            
	          

</html>