<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles-listar-cliente-especifo.css">
</head>

<body>		
		<h1>Cliente</h1>
		<div ><a  th:href="@{'/cliente/home'}">Pagina Inicial</a> </div>
		
		<div th:if="${serviceMessage != null }">
		        <p th:text="${serviceMessage}"></p>	   
		</div>
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'id')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		
		<form action="/cliente/buscarCliente" method="get">
			<label for="id">ID do cliente :</label>
			<input type="text" id="id"  name="id">
			
		<input type="submit" value="buscar" >
			</form>
		
		
				

</body>


</html>