<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles-listar-todos.css">
</head>

<body>		
		<h1>Cliente</h1>
		<div class="button-container"><a  th:href="@{'/cliente/home'}">Pagina Inicial</a> </div>
		
		<div th:if="${errorMessages != null and errorMessages.size() > 0}">
		    <div th:each="message : ${errorMessages}" class="error-message">
		        <p th:text="${message}"></p>
		    </div>
		</div>
		<form action="/cliente/buscarCliente" method="get">
			<label for="id">ID do cliente :</label>
			<input type="text" id="id"  name="id">
			
		<input type="submit" value="buscar" >
			</form>
		
		
				

</body>


</html>