<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       
        <link rel="stylesheet" type="text/css" href="/css/styles-formulario-cadastro-cliente.css">
        
</head>

<body>		
		<br>
		<h1>CadastrarCliente</h1>
		
	<div class="button-container"><a  th:href="@{'/cliente/home?token=' + ${token}}">Pagina Inicial</a> </div>
		
	<form th:action="@{'/cliente/cadastrar'}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'name')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="name">Nome</label>
		<input type="text" id="name"  name="name">
		
		<br><br>
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'documento')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<div th:if="${serviceMessage != null }">
		        <p class="error-message" th:text="${serviceMessage}"></p>	   
		</div>
		<label for="documento">Documento</label>
		<input type="text" id="documento"  name="documento">
		
		<br><br>
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'rua')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="rua">Travessa/Rua:</label>
		<input type="text" id="rua"  name="rua" >
		
		<br><br>
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'numero')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="numero">Numero da casa:</label>
		<input type="text" id="numero"  name="numero" >
		
		<br><br>
		
		<input type="submit" value="Cadastrar">
	</form>
				

</body>


</html>