<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>		
		<h1>Mercearia</h1>
		<br>
		<br>
	
	
	

		<a th:href="@{'/cliente/cadastrar'}" >Cadastrar Cliente</a> 	
		<br>
		<a th:href="@{'/cliente/listar'}">Listar todos os Clientes</a>
		<br>
		<a th:href="@{'/produtos'}">Adicionar Produto na Conta</a>
		<br>
		<a th:href="@{'/cliente/buscar'}">Buscar cliente Por Documento</a>
	

	
	
	
	
				

</body>


</html>