<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>      
</head>

<body>

    <h1>Caderneta da Mercearia</h1>

    <br> <br>

    <!-- Adiciona o token como cabeçalho de autorização ao clicar no link -->
    <a  th:href="@{'/cliente/cadastrar?token=' + ${token}}">Cadastrar Cliente</a> 
    <br>
	<a th:href="@{'/cliente/listar?token=' + ${token}}">Listar todos os Clientes</a>
    <br>
    <a  th:href="@{'/produtos?token=' + ${token}}">Adicionar Produto na Conta</a> 
    <br>
    <a  th:href="@{'/cliente/buscar?token=' + ${token}}">Buscar cliente Por Documento</a> 
  
</body>
	</body>
</html>