<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles-cliente-cadastro-response.css">
</head>

<body>		
		<h1>Cadastro realizado com sucesso !</h1>
		<div class="button-container"><a  th:href="@{'/cliente/home'}">Pagina Inicial</a> 
		<a  th:href="@{'/produtos'}">Adicionar Compra</a> 
		</div>
		
		
			 <table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Documento</th>
				<th>Rua/Travessa</th>
				<th>numero da casa</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${cliente.name}"> </td> 
				<td th:text="${cliente.documento}" > </td>
				<td th:text="${cliente.rua}" > </td>
				<td th:text="${cliente.numero}" > </td>					          
			</tr>
		</tbody>
	</table>
				

</body>


</html>