<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Cadastro</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/styles-BuscarTodosClientes.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles-main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles-Tables.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles-PearsonMessages.css}" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

	<h1>Todos os clientes</h1>
	<div class="barraDeAcoes"> <a th:href="@{'/cliente/home?token=' + ${token}}">Pagina Inicial</a> </div>

	<div th:if="${NotaMessage != null }">
		<p class="feedback-message" th:text="${NotaMessage}"></p>
	</div>
	
	<div class="filtro-container">
		<div class="label-filtro-container" ><label class="label-filtro" >Filtrar cliente por nome</label></div>
		<div><input class="input-filtro" type="text" id="searchInput" placeholder="Pesquisar por nome"></div>	
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Documento</th>
				<th>Total</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${lista}">
				<td th:text="${cliente.nome}"> </td>
				<td th:text="${cliente.documento}"> </td>
				<td th:text="'R$ 	' + ${cliente.total}"> </td>
				<td>
					<a class="acoes"
						th:href="@{'/cliente/buscarCliente?documento=' + ${cliente.documento} + '&token=' + ${token}}">Detalhar</a>
				</td>
				<td>
					<a class="acoes"
						th:href="@{'/cliente/gerar?documento=' + ${cliente.documento} + '&token=' + ${token}+ '&redirect=listar'}">Gerar
						Nota</a>
				</td>
			</tr>
		</tbody>
	</table>
	
<script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

</body>




</html>