
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 40px;
             background-image: url('/images/back2.jpg'); /* Substitua pelo caminho da sua imagem */
		 	background-size: cover;
		 	background-repeat: no-repeat;
		 	
        }

        h1 {
            color: #333;
        }

        form {
            margin: 20px auto;
            max-width: 400px;
            padding: 40px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-size: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border-radius: 12px;
            
        }

        input[type="submit"] {
            background-color: #3498db;
            color: #fff;
            cursor: pointer;
            font-size: 20px;
        }

        input[type="submit"]:hover {
            background-color: #2980b9;
        }
        
         a {
            display: inline-block;
            margin: 10px;
            padding: 10px 30px;
            text-decoration: none;
            font-size: 20px;
            border: 2px solid #3498db;
            color: #3498db;
            border-radius: 3px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #3498db;
            color: #fff;
        }
        
     .error-message {
    background-color: #ffcccc; /* Cor de fundo personalizada para mensagens de erro 'preco' */
    border:  0px solid #ff0000; /* Borda vermelha para realçar a área de erro */
    border-radius: 10px;
    padding: 5px; /* Espaçamento interno para melhor legibilidade */
    margin-bottom: 10px; /* Espaçamento inferior para separar os blocos de erro */
}
