body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-image: url('/images/back2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	/* Ocupará 100% da largura do viewport */
	height: 100vh;
	/* Ocupará 100% da altura do viewport (viewport height) */

}

h1 {
	color: #333;
}

form {
	margin: 20px auto;
	max-width: 400px;
	padding: 40px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #333;
	font-size: 20px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border-radius: 12px;

}

input[type="submit"] {
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

input[type="submit"]:hover {
	background-color: #2980b9;
}

a {
	display: inline-block;
	margin: 10px;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 20px;
	border: 2px solid #3498db;
	color: #3498db;
	border-radius: 3px;
	transition: background-color 0.3s, color 0.3s;
}

a:hover {
	background-color: #3498db;
	color: #fff;
}

.error-message {
	background-color: #ffcccc;
	/* Cor de fundo personalizada para mensagens de erro 'preco' */
	border: 0px solid #ff0000;
	/* Borda vermelha para realçar a área de erro */
	border-radius: 10px;
	padding: 5px;
	/* Espaçamento interno para melhor legibilidade */
	margin-bottom: 10px;
	/* Espaçamento inferior para separar os blocos de erro */
}

.obs {
	width: 100%;
	padding: 20px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border-radius: 12px;
	word-wrap: break-word;
	/* Adicionando a propriedade para permitir quebra de linha automática */
}

/* Estilos para smartphones */
/* Estilos para smartphones */
@media screen and (max-width: 1080px) {
	form {
		width: 100%;
		max-width: none;
		/* Removendo a largura máxima */
		height: 80vh;
	}



	.obs,
	label,
	input {
		font-size: 14px;
		padding: 40px;
		font-size: 50px;

	}

	input[type="submit"] {
		width: 100%;
		padding: 15px;

	}

	a {
		width: 100%;
		padding: 15px;
		font-size: 70px;
	}

	.error-message {
		font-size: 20px;
		margin-bottom: 0px;

	}

	h1 {
		font-size: 80px;
	}

	input {
		border: 2px solid#3498db;
		font-size: 40px;
		margin-bottom: 5px;
	}

	input[type="submit"] {
		background-color: #3498db;
		color: #fff;
		cursor: pointer;
		font-size: 60px;
	}

}