    body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
         background-image: url('/images/back.jpg'); /* Substitua pelo caminho da sua imagem */
		 background-size: cover;
        }

        h1 {
            color: #333;
            margin-top: 40px;
            font-size: 60PX;
        }

       a {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 22px;
            color: #fff;
            background-color: #3498db;
            border-radius: 9px;
            transition: background-color 0.3s, color 0.3s;
            width: 500px;
            margin-bottom: 30px;
            margin-left: 800px;
        }

        a:hover {
            background-color:rgb(0, 0, 0);
            color: #fff;
        }