
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
              background-image: url('/images/back2.jpg'); /* Substitua pelo caminho da sua imagem */
		 	background-size: cover;
		 	background-repeat: no-repeat;
        }

        h1 {
            color: #333;
            margin-top: 40px;
            font-size: 50px;
        }

        a {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 28px;
            border: 2px solid #3498db;
            color: #3498db;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            width: 300px;
        }

        a:hover {
            background-color: #3498db;
            color: #fff;
        }

        p {
            color: #3498db;
            font-size: 18px;
            margin-top: 20px;
        }

        .error-message {
            color: #e74c3c;
            font-size: 16px;
        }

        form {
            margin-top: 20px;
            margin-right: 20px;
        }

        label {
            color: #333;
            font-size: 30px;
            
        }

        input[type="text"] {
            padding: 10px;
            font-size: 20px;
            width: 500px;
            margin-left: 50px;
        }

        input[type="submit"] {
            display: inline-block;
            padding: 10px 30px;
            font-size: 20px;
            border: 2px solid #3498db;
            color: #3498db;
            border-radius: 5px;
            background-color: #fff;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #3498db;
            color: #fff;
        }
