<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
			   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" href="/css/styles-adicionar-produto-carrinho.css">
</head>

<body>		
		<h1>Realizar Compra</h1>
		<a th:href="@{'/cliente/home'}">Pagina Inicial</a>
			
	<form action="/produtos/cadastrar" method="post">
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'name')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="name" >Nome do produto:</label>
		<input type="text" id="name"  name="name" >
		
		<br><br>
		
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'preco')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="preco" >Preço do produto:</label>
		<input type="text" id="preco"  name="preco" >
		<br><br>
		
		<div th:if="${serviceMessage != null }">
		        <p th:text="${serviceMessage}"></p>	   
		</div>
		<div th:each="msg : ${errorMessages}" >
  			  <p class="error-message" th:if="${#strings.startsWith(msg, 'idCliente')}" th:text="'O campo ' + ${msg.split(':')[1]}"></p>
		</div>
		<label for="idCliente">Identificação do cliente:</label>
        <input type="text" id="idCliente" name="idCliente">
		<br><br>
		<input type="submit" value="Registrar" >
	</form>

</body>


</html>